dev_code/*
.vscode
connecting_to_server_notes.txt
probe_evals/*
*.pyc
.gitignore
test.py
trained_models/*
trained_probes/*
analysis_results/*
EWOthello/data/othello_synthetic_with_board_states/*
EWOthello/data/othello_synthetic_with_board_states.zip
saes/deprecated/*
saes/test_methods/*
